<a href="https://colab.research.google.com/github/annierm18/550/blob/Pritesh/Pritesh_GroupProject_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive

In [5]:
drive.mount('/content/drive')

Mounted at /content/drive

In [158]:
# import necessary libraries
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [7]:
# create netflix dataframe
netflix = pd.read_csv('/content/drive/MyDrive/CIS 550/Group Project/netflix_titles.csv')

In [8]:
# create new provider column in netflix df
netflix['provider'] = 'Netflix'

In [9]:
# display the first 5 rows
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,provider
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix

In [10]:
# create amazon dataframe
amazon = pd.read_csv('/content/drive/MyDrive/CIS 550/Group Project/amazon_prime_titles.csv')

In [11]:
# create provider column in amazon df
amazon['provider'] = 'Prime'

In [12]:
# display first 5 rows
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,provider
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Prime
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Prime
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,Prime
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",Prime
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,Prime

In [13]:
# create disney dataframe
disney = pd.read_csv('/content/drive/MyDrive/CIS 550/Group Project/disney_plus_titles.csv')

In [14]:
# create new provider column in disney df
disney['provider'] = 'Disney'

In [15]:
# display first 5 rows
disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,provider
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,Disney
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,Disney
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,Disney
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",Disney
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,Disney

In [16]:
frames = [netflix, amazon, disney]

In [17]:
# merge netflix, amazon, and disney dataframes together
# call newly merged dataframe, df
df = pd.concat(frames)

In [18]:
# display first 5 rows
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,provider
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix

In [19]:
# check the total number of rows, columns
df.shape

(19925, 13)

In [21]:
# determine which columns have null values
# GOAL IS TO REDUCE THIS TO 0 FOR EACH COLUMN
df.isna().sum()

show_id             0
type                0
title               0
director         5189
cast             2248
country         10046
date_added       9526
release_year        0
rating            344
duration            3
listed_in           0
description         0
provider            0
dtype: int64

In [20]:
# determine all the duplicate values in df
# filtered by type, title, director, and release_year
duplicate_df = df[df.duplicated(subset=['type', 'title', 'director', 'release_year'], keep=False)]

In [22]:
# calculate the total number of duplicate shows/movies
# GOAL IS TO REMOVE ALL DUPLICATE VALUES AND MERGE ALL THE INFO INTO ONE ROW
duplicate_df.shape

(358, 13)

In [23]:
# display first 5 rows
duplicate_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,provider
29,s30,Movie,Paranoia,Robert Luketic,"Liam Hemsworth, Gary Oldman, Amber Heard, Harr...","United States, India, France","September 19, 2021",2013,PG-13,106 min,Thrillers,"Blackmailed by his company's CEO, a low-level ...",Netflix
118,s119,Movie,Gurgaon,Shanker Raman,"Akshay Oberoi, Pankaj Tripathi, Ragini Khanna,...",India,"September 2, 2021",2017,TV-14,106 min,"Dramas, International Movies, Thrillers",When the daughter of a wealthy family returns ...,Netflix
139,s140,Movie,Do the Right Thing,Spike Lee,"Danny Aiello, Ossie Davis, Ruby Dee, Richard E...",United States,"September 1, 2021",1989,R,120 min,"Classic Movies, Comedies, Dramas","On a sweltering day in Brooklyn, simmering rac...",Netflix
171,s172,Movie,Same Kind of Different as Me,Michael Carney,"Greg Kinnear, Renée Zellweger, Djimon Hounsou,...",United States,"September 1, 2021",2017,PG-13,120 min,"Dramas, Faith & Spirituality",A wealthy couple whose marriage is on the rock...,Netflix
176,s177,Movie,The Golden Child,Michael Ritchie,"Eddie Murphy, J.L. Reate, Charles Dance, Charl...",United States,"September 1, 2021",1986,PG-13,94 min,"Action & Adventure, Comedies",A fast-talking L.A. social worker goes through...,Netflix

**Fix Duration column**

Since there are only 3 null values, I'll just hard code them in

In [51]:
# the ratings column contains the duration
df[df['duration'].isna()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,provider
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN,Movies,"Louis C.K. muses on religion, eternal love, gi...",Netflix
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,84 min,NaN,Movies,Emmy-winning comedy writer Louis C.K. brings h...,Netflix
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN,Movies,The comic puts his trademark hilarious/thought...,Netflix

In [58]:
# change the NaN value to the correct duration
df.at[5541,'duration'] = '74 min'
df.at[5794,'duration'] = '84 min'
df.at[5813,'duration'] = '66 min'

In [59]:
# check to see if changes were made
df.iloc[5541]

show_id                                                     s5542
type                                                        Movie
title                                             Louis C.K. 2017
director                                               Louis C.K.
cast                                                   Louis C.K.
country                                             United States
date_added                                          April 4, 2017
release_year                                                 2017
rating                                                     74 min
duration                                                   74 min
listed_in                                                  Movies
description     Louis C.K. muses on religion, eternal love, gi...
provider                                                  Netflix
Name: 5541, dtype: object

In [61]:
df.iloc[5794]

show_id                                                     s5795
type                                                        Movie
title                                       Louis C.K.: Hilarious
director                                               Louis C.K.
cast                                                   Louis C.K.
country                                             United States
date_added                                     September 16, 2016
release_year                                                 2010
rating                                                     84 min
duration                                                   84 min
listed_in                                                  Movies
description     Emmy-winning comedy writer Louis C.K. brings h...
provider                                                  Netflix
Name: 5794, dtype: object

In [62]:
df.iloc[5813]

show_id                                                     s5814
type                                                        Movie
title                        Louis C.K.: Live at the Comedy Store
director                                               Louis C.K.
cast                                                   Louis C.K.
country                                             United States
date_added                                        August 15, 2016
release_year                                                 2015
rating                                                     66 min
duration                                                   66 min
listed_in                                                  Movies
description     The comic puts his trademark hilarious/thought...
provider                                                  Netflix
Name: 5813, dtype: object

In [63]:
# change the ratings to their correct value
df.at[5541,'rating'] = 'TV-MA'
df.at[5794,'rating'] = 'TV-MA'
df.at[5813,'rating'] = 'TV-MA'

In [64]:
# see if corrections were made
df.iloc[5541]

show_id                                                     s5542
type                                                        Movie
title                                             Louis C.K. 2017
director                                               Louis C.K.
cast                                                   Louis C.K.
country                                             United States
date_added                                          April 4, 2017
release_year                                                 2017
rating                                                      TV-MA
duration                                                   74 min
listed_in                                                  Movies
description     Louis C.K. muses on religion, eternal love, gi...
provider                                                  Netflix
Name: 5541, dtype: object

In [65]:
# check if all duration null values are fixed
df.isna().sum()

show_id             0
type                0
title               0
director         5189
cast             2248
country         10046
date_added       9526
release_year        0
rating            344
duration            0
listed_in           0
description         0
provider            0
dtype: int64

In [122]:
# drop the date_added column since it has so many null values and in my opinion it's irrelavent
# release year is more important, we dont need to know when it was added to the streaming service
df = df.drop(['date_added'], axis=1)

In [123]:
df.shape

(19925, 12)

In [82]:
# read in supplimental dataset, help clean if main dataframe (df)
df_sup = pd.read_csv('/content/drive/MyDrive/CIS 550/Group Project/movies_metadata.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [83]:
# make sure all rows were succesfully uploaded
df_sup.shape

(45466, 24)

In [84]:
# drop any irrelevant columns
df_sup = df_sup.drop(['belongs_to_collection', 'homepage', 'imdb_id', 'poster_path', 'status', 'original_title', 'video', 'tagline'], axis=1).\
                     drop([19730, 29503, 35587]) # Incorrect data type

In [85]:
df_sup.shape

(45463, 16)

In [86]:
# display first 5 rows
df_sup.head()

,adult,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0

In [174]:
# check the null values in this dataframe
df_sup.isna().sum()

adult                     0
budget                    0
genres                    0
id                        0
original_language        11
overview                954
popularity                3
production_companies      3
production_countries      3
release_date             87
revenue                   3
runtime                 260
spoken_languages          3
title                     3
vote_average              3
vote_count                3
year                      0
dtype: int64

In [175]:
# since there are only 87 rows with a null release_date, we can just drop those rows
df_sup = df_sup[df_sup['release_date'].notna()]

In [177]:
df_sup.isna().sum()

adult                     0
budget                    0
genres                    0
id                        0
original_language        11
overview                941
popularity                0
production_companies      0
production_countries      0
release_date              0
revenue                   0
runtime                 246
spoken_languages          0
title                     0
vote_average              0
vote_count                0
year                      0
dtype: int64

In [178]:
# we only care about the year in the release_date column, so we extract that info from the column and create a new column called year
df_sup['year'] = pd.to_datetime(df_sup['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [179]:
# in order to merge our main dataset (df) with our supplemental dataset (df_sup), we need to cast year to an int
df_sup['year'] = df_sup['year'].astype(int)

In [201]:
# create a second dataframe, showcasing all the common shows/movies based on title and release year
df_common = df.merge(df_sup, left_on=['title', 'release_year'], right_on=['title', 'year'])

In [203]:
# roughly 3.5K shared movies/shows
df_common.shape

(3410, 28)

In [204]:
# no longer need this column since we have the year column
df_common = df_common.drop(['release_date'], axis=1)

In [205]:
# library to help clean up a few of the columns in df2
from ast import literal_eval

In [206]:
# function that takes the cleaned info from df_common and inserts it into a new list
def get_text(text, obj='name'):
    text = literal_eval(text)
    
    if len(text) == 1:
        for i in text:
            return i[obj]
    else:
        s = []
        for i in text:
            s.append(i[obj])
        return ', '.join(s)

In [219]:
# the columns to clean up in df_common
df_common['production_companies'] = df_common['production_companies'].apply(get_text)
df_common['production_countries'] = df_common['production_countries'].apply(get_text)
df_common['spoken_languages'] = df_common['spoken_languages'].apply(get_text)

In [220]:
# columns mentioned above are now much easier to read
df_common.head()

,show_id,type,title,director,cast,country,release_year,rating,duration,listed_in,description,provider,adult,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,revenue,runtime,spoken_languages,vote_average,vote_count,year
0,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",Netflix,False,1000000,Drama,68351,en,A self-absorbed Black American fashion model o...,0.04586,"Channel Four Films, Westdeutscher Rundfunk (WD...","Burkina Faso, Germany, Ghana, United Kingdom, ...",2691899.0,124.0,English,6.9,5.0,1993
1,s28,Movie,Grown Ups,Dennis Dugan,"Adam Sandler, Kevin James, Chris Rock, David S...",United States,2010,PG-13,103 min,Comedies,Mourning the loss of their beloved junior high...,Netflix,False,80000000,Comedy,38365,en,After their high school basketball coach passe...,23.981251,"Columbia Pictures, Happy Madison Productions, ...",United States of America,271430189.0,102.0,English,6.0,1746.0,2010
2,s29,Movie,Dark Skies,Scott Stewart,"Keri Russell, Josh Hamilton, J.K. Simmons, Dak...",United States,2013,PG-13,97 min,"Horror Movies, Sci-Fi & Fantasy",A family’s idyllic suburban life shatters when...,Netflix,False,3500000,"Science Fiction, Thriller, Horror",145135,en,"From the producers of Paranormal Activity, Ins...",26.972326,"Alliance Films, Blumhouse Productions, Automat...",United States of America,25174316.0,97.0,English,6.1,668.0,2013
3,s30,Movie,Paranoia,Robert Luketic,"Liam Hemsworth, Gary Oldman, Amber Heard, Harr...","United States, India, France",2013,PG-13,106 min,Thrillers,"Blackmailed by his company's CEO, a low-level ...",Netflix,False,35000000,"Drama, Thriller",115348,en,An entry-level employee at a powerful corporat...,7.249581,"Gaumont, Kintop Pictures, Reliance Entertainme...","France, United States of America",13785015.0,106.0,English,5.6,358.0,2013
4,s8755,Movie,Paranoia,Robert Luketic,"Harrison Ford, Liam Hemsworth, Amber Heard, Ga...",NaN,2013,PG-13,106 min,"Drama, Suspense",An entry-level employee at a powerful corporat...,Prime,False,35000000,"Drama, Thriller",115348,en,An entry-level employee at a powerful corporat...,7.249581,"Gaumont, Kintop Pictures, Reliance Entertainme...","France, United States of America",13785015.0,106.0,English,5.6,358.0,2013

In [221]:
# just displaying the relavent columns to see which movies/shows merged properly and which did not
df_common[['type', 'title', 'release_year', 'year', 'description', 'overview', 'country', 'production_countries']].head(20)

,type,title,release_year,year,description,overview,country,production_countries
0,Movie,Sankofa,1993,1993,"On a photo shoot in Ghana, an American model s...",A self-absorbed Black American fashion model o...,"United States, Ghana, Burkina Faso, United Kin...","Burkina Faso, Germany, Ghana, United Kingdom, ..."
1,Movie,Grown Ups,2010,2010,Mourning the loss of their beloved junior high...,After their high school basketball coach passe...,United States,United States of America
2,Movie,Dark Skies,2013,2013,A family’s idyllic suburban life shatters when...,"From the producers of Paranormal Activity, Ins...",United States,United States of America
3,Movie,Paranoia,2013,2013,"Blackmailed by his company's CEO, a low-level ...",An entry-level employee at a powerful corporat...,"United States, India, France","France, United States of America"
4,Movie,Paranoia,2013,2013,An entry-level employee at a powerful corporat...,An entry-level employee at a powerful corporat...,NaN,"France, United States of America"
5,Movie,Jaws,1975,1975,When an insatiable great white shark terrorize...,An insatiable great white shark terrorizes the...,United States,United States of America
6,Movie,Jaws 2,1978,1978,Four years after the last deadly shark attacks...,Police chief Brody must protect the citizens o...,United States,United States of America
7,Movie,Jaws: The Revenge,1987,1987,"After another deadly shark attack, Ellen Brody...","After another deadly shark attack, Ellen Brody...",United States,United States of America
8,Movie,Safe House,2012,2012,Young CIA operative Matt Weston must get a dan...,A dangerous CIA renegade resurfaces after a de...,"South Africa, United States, Japan",United States of America
9,Movie,Training Day,2001,2001,A rookie cop with one day to prove himself to ...,On his first day on the job as a narcotics off...,United States,"Australia, United States of America"
10,Movie,Naruto the Movie: Ninja Clash in the Land of Snow,2004,2004,"Naruto, Sasuke and Sakura learn they'll be pro...",Naruto is thrilled when he is sent on a missio...,Japan,Japan
11,Movie,Bright Star,2009,2009,This drama details the passionate three-year r...,"In 1818, high-spirited young Fanny Brawne find...","United Kingdom, Australia, France","United Kingdom, France, Australia"
12,Movie,Dhanak,2015,2015,A movie-loving 10-year-old and her blind littl...,Orphaned siblings Pari and Chotu embark on a j...,India,India
13,Movie,In the Cut,2003,2003,After embarking on an affair with the cop prob...,Following the gruesome murder of a young woman...,"United Kingdom, Australia, France, United States","Australia, United States of America"
14,Movie,A Cinderella Story,2004,2004,Teen Sam meets the boy of her dreams at a danc...,"Sam Montgomery is a tomboyish, unpopular girl ...","United States, Canada","Canada, United States of America"
15,Movie,An Unfinished Life,2005,2005,A grieving widow and her daughter move in with...,"Stoic and heartbroken, Einar Gilkyson quietly ...","Germany, United States","United States of America, Germany"
16,Movie,Chappie,2015,2015,In a futuristic society where an indestructibl...,Every child comes into the world full of promi...,"South Africa, United States","Mexico, South Africa, United States of America"
17,Movie,Clear and Present Danger,1994,1994,"When the president's friend is murdered, CIA D...",CIA Analyst Jack Ryan is drawn into an illegal...,"United States, Mexico",United States of America
18,Movie,Cliffhanger,1993,1993,Ranger Gabe Walker and his partner are called ...,"A year after losing his friend in a tragic 4,0...","United States, Italy, France, Japan","France, Italy, United States of America"
19,Movie,Cold Mountain,2003,2003,This drama follows a wounded Civil War soldier...,In this classic story of love and devotion set...,"United States, Italy, Romania, United Kingdom","United States of America, United Kingdom, Roma..."

In [222]:
# we have about 3.5 common movies between the main dataframe (df) and the supplemental datafram (df_sup)
df_common.shape

(3410, 27)

In [223]:
# of the common movies, about 300 have null in the production_countries column
mask = (df_common['production_countries'].str.len() == 0)
df_common.loc[mask].shape

(282, 27)

In [237]:
# about 1K have null in the country column
df_common['country'].isnull().sum()

1052

In [225]:
mask = (df_common['production_countries'].str.len() != 0)
df_common.loc[mask].shape

(3128, 27)

In [238]:
df_common['country'].notnull().sum()

2358

In [226]:
df.isna().sum()

show_id             0
type                0
title               0
director         5189
cast             2248
country         10046
release_year        0
rating            344
duration            0
listed_in           0
description         0
provider            0
dtype: int64

In [227]:
df[df[['director', 'cast', 'country', 'rating']].isna().all(1)].shape

(2, 12)

In [228]:
df[df[['director', 'cast', 'country']].isna().all(1)].shape

(750, 12)

In [229]:
df[df[['director', 'country']].isna().all(1)].shape

(2539, 12)